<script setup>
import PokemonsCard from './components/PokemonsCard.vue'
</script>

<template>
  <main>
    <h1>Hero</h1>

    <Suspense>
      <template #default>
        <PokemonsCard />
      </template>
      <template #fallback>
        <div class="cards spinner">
          <NSpin size="large" />
        </div>
      </template>
    </Suspense>
  </main>
</template>

<style scoped>
.cards {
  height: 700px;
  background-color: rgb(27, 26, 26);
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
