<script setup lang="ts">
import { defineProps } from "vue";

const props = defineProps(["images"]);
</script>

<template>
  <div class="image-gallery-container">
    <img v-for="image in props.images" :key="image.id" :src="image.image" />
  </div>
</template>

<style scoped>
.image-gallery-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

img {
  margin: 5px;
  width: 200px;
}
</style>
