<script setup lang="ts">
import UserBar from "./UserBar.vue";
import Container from "./Container.vue";
import ImageGallery from "./ImageGallery.vue";

const data = [
  {
    id: 1,
    name: "Arizona Cardinals",
    image:
      "https://static.www.nfl.com/image/private/f_auto/league/u9fltoslqdsyao8cpm0k",
    caption: "cardinals",
  },
  {
    id: 2,
    name: "Chicago Bears",
    image:
      "https://static.www.nfl.com/image/private/f_auto/league/wb3ehpt7xhkstyaxwjl1",
    caption: "bears",
  },
  {
    id: 3,
    name: "Los Angeles Rams",
    image:
      "https://static.www.nfl.com/image/private/f_auto/league/ayvwcmluj2ohkdlbiegi",
    caption: "rams",
  },
];
</script>

<template>
  <Container>
    <div class="profile-container">
      <UserBar
        username="peidrao"
        :userInfo="{ posts: 4, followers: 100, followings: 342 }"
      />

      <ImageGallery
        :images="[
          {
            id: 1,
            image:
              'https://static.www.nfl.com/image/private/f_auto/league/u9fltoslqdsyao8cpm0k',
          },
          {
            id: 2,
            image:
              'https://static.www.nfl.com/image/private/f_auto/league/ayvwcmluj2ohkdlbiegi',
          },
        ]"
      />
    </div>
  </Container>
</template>

<style scoped>
.profile-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
</style>
