<script setup lang="ts">
import Container from "./Container.vue";
import Card from "./Card.vue";

const data = [
  {
    id: 1,
    name: "Arizona Cardinals",
    image:
      "https://static.www.nfl.com/image/private/f_auto/league/u9fltoslqdsyao8cpm0k",
    caption: "cardinals",
  },
  {
    id: 2,
    name: "Chicago Bears",
    image:
      "https://static.www.nfl.com/image/private/f_auto/league/wb3ehpt7xhkstyaxwjl1",
    caption: "bears",
  },
  {
    id: 3,
    name: "Los Angeles Rams",
    image:
      "https://static.www.nfl.com/image/private/f_auto/league/ayvwcmluj2ohkdlbiegi",
    caption: "rams",
  },
];
</script>

<template>
  <Container>
    <div class="timeline-container">
      <Card v-for="post in data" :key="post.id" :post="post" />
    </div>
  </Container>
</template>

<style scoped>
.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
</style>
