<template>
  <div class="about">
    <h1>This is an about page</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ante iaculis, pulvinar enim
      a, commodo sem. Fusce viverra a lacus a sodales.
    </p>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    max-width: 300px;
    margin: 10px auto;
  }
}
</style>
