<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>To-Do List</title>
</head>

<body>

    <main id="app">
        <section class="todo-list">
            <h3>Lista de Tarefas</h3>

            <div class="all-todos">
                <div v-for="todo in todos" class="single-todo" :class="{done : todo.done}" @click="todo.done = !todo.done">
                    <p>{{todo.text}}</p>
                </div>

            </div>

            <button class="clear" @click="todos=[]" v-if="todos.length>0">Limpar tudo</button>

            <input type="text" placeholder="Escreva uma nova tarefa..." v-model="newTodo.text">
            <button class="add" @click="addTodo()">Adicionar</button>

            <div class="instructions">
                Instruções:
                <ul>
                    <li>Clique no texto da tarefa para alternar entre feita / não feita</li>
                    <li>Use o botão limpar tudo para remover todas as tarefas</li>
                    <li>Use o input para adicionar novas tarefas</li>
                </ul>
            </div>
        </section>

    </main>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="scripts.js"></script>
</body>

</html>