<script setup>
import axios from 'axios'
import { defineProps } from 'vue'

import { ref } from 'vue'

const pokemon = ref(null)

const { url, name } = defineProps(['url', 'name'])
const response = await axios.get(url)
pokemon.value = response.data['sprites']['front_default']
</script>

<template>
  <NCard>
    <template #cover>
      <img :src="pokemon" width="250" />
    </template>
    <h3>{{ name }}</h3>
    <slot></slot>
  </NCard>
</template>

<style scoped>
.n-card {
  width: 200px;
  margin: 10px 20px;
}

.n-card img {
  height: 250px;
}
</style>
